
.sidr {
	/* Default Settings */
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	width: 18em;
	overflow-x: none;
	overflow-y: auto;
	/* Theme Settings */
	background: #ffffff;
	color: #000000;
	-webkit-box-shadow: inset 5px 0 5px 0 #bbbbbb;
	-moz-box-shadow: inset 5px 0 5px 0 #bbbbbb;
	box-shadow: inset 5px 0 5px 0 #bbbbbb;
}
.sidr .sidr-inner {
	padding: 0 1.875em;
}
.sidr .sidr-inner > p {
	margin-left: 15px;
	margin-right: 15px;
}
.sidr.right {
	left: auto;
	right: -18em;
	border-left:px solid #bbbbbb;
}
.sidr.left {
	left: -18em;
	right: auto;
}
.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
	font-size: 11px;
	font-weight: normal;
	padding: 0 15px;
	margin: 0 0 5px;
	color: #333333;
	line-height: 24px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
	background-image: -webkit-linear-gradient(#ffffff, #dfdfdf);
	background-image: -moz-linear-gradient(#ffffff, #dfdfdf);
	background-image: -o-linear-gradient(#ffffff, #dfdfdf);
	background-image: linear-gradient(#ffffff, #dfdfdf);
	-webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.sidr p {
	font-size: 13px;
	margin: 0 0 12px;
}
.sidr p a {
	color: rgba(51, 51, 51, 0.9);
}
.sidr > p {
	margin-left: 15px;
	margin-right: 15px;
}
.sidr ul {
	display: block;
	margin: 0;
	padding: 0;
}
.sidr ul li {
	display: block;
	margin: 0;
	line-height: 1.25em;
}

/*
ul.sidr-class-navSitemap > li {
	-webkit-transition: 0.8s;
	transition: 0.8s;
}
*/

.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {}
.sidr ul a:hover, .sidr ul li.active > a, .sidr ul li.sidr-class-active > a {
	color:#e60032;
}
.sidr ul li a, .sidr ul li span {
	padding: 1em;
	display: block;
	text-decoration: none;
	font-family:"ClanOT-Medium";
	color:#000000;
}
.sidr ul li a.top-level {
	font-size:1.1em;
	padding:0.909em;
}
.sidr-inner > ul > li {
	border-bottom:2px solid #000;
}
.sidr ul li ul {
	border-bottom: none;
	margin: 0;
}
.sidr ul li ul li {
}
.sidr ul li ul li:last-child {
	border-bottom: none;
}
.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
	border-top: none;
}
.sidr ul li ul li:hover > a, .sidr ul li ul li:hover > span, .sidr ul li ul li.active > a, .sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a, .sidr ul li ul li.sidr-class-active > span {
}
.sidr ul li ul li a, .sidr ul li ul li span {
	font-family:"ClanOT-Book";
}
.sidr form {
	margin: 0 15px;
}
.sidr label {
	font-size: 13px;
}
.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea, .sidr select {
	width: 100%;
	font-size: 13px;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: none;
	background: rgba(0, 0, 0, 0.1);
	color: rgba(51, 51, 51, 0.6);
	display: block;
	clear: both;
}
.sidr input[type=checkbox] {
	width: auto;
	display: inline;
	clear: none;
}
.sidr input[type=button],
.sidr input[type=submit] {
	color: #f8f8f8;
	background: #333333;
}
.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
	background: rgba(51, 51, 51, 0.9);
}

.sidr-class-navSitemap {
	border-top:2px solid #000000;
	font-size:1.1428em;
}

.sidr-class-sidrMenu {
	position:relative;
	padding:2em 0 3em;
	font-family:"ClanOT-Medium";
}
.sidr-class-sidrMenu .sidr-class-headline {
	font-size:2em;
	line-height:1em;
	padding:0.6em 0 0;
	display:inline-block;
}
.sidr-class-sidrMenu .sidr-class-tsbbutton {
	cursor:pointer;
	float:right;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background:#e60032;
	height:3.125em;
	width:3.125em;
}
.sidr-class-sidrMenu .sidr-class-tsbicon {
	display:block;
	font-size:1.375em !important;
	line-height:2.2727em !important;
}
.sidr-class-i-close {
	color:#fff;
	font-family: 'TSB';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
}
.sidr-class-i-close:before {
	content: "\e612";
}

/*---------- Breitband SIDR ---------*/

#sidr-btn{
	margin:15px 0 0 0;
}

#sidr ul{
	clear:both;
	border-top: 2px solid #000000;
    font-size: 1.1428em;
    margin:0 1.875em;
}

#sidr ul li{
	display: block;
    margin: 0;
    line-height: 1.25em;
	border-bottom: 2px solid #000;
}

.sidrMenu{
	margin:1.875em;
	display: block;
	height:4em;
}

.sidrMenu .tsbbutton{
	cursor: pointer;
    float: right;
    margin-right:0;
}

.sidrMenu .headline{
	font-size: 2em;
    line-height: 0.4em;
    padding: 0.6em 0 0;
    display: inline-block;
}